<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>001</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>烤鱼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>56</string>
		<key>icon</key>
		<string>002</string>
		<key>price</key>
		<string>102</string>
		<key>title</key>
		<string>烤肉</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>5</string>
		<key>icon</key>
		<string>003</string>
		<key>price</key>
		<string>63</string>
		<key>title</key>
		<string>鱼香肉丝</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>342</string>
		<key>icon</key>
		<string>004</string>
		<key>price</key>
		<string>12</string>
		<key>title</key>
		<string>麻婆豆腐</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>85</string>
		<key>icon</key>
		<string>005</string>
		<key>price</key>
		<string>25</string>
		<key>title</key>
		<string>北京烤鸭</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>15</string>
		<key>icon</key>
		<string>006</string>
		<key>price</key>
		<string>68</string>
		<key>title</key>
		<string>日本料理</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>39</string>
		<key>icon</key>
		<string>007</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>粉蒸肉</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>7</string>
		<key>icon</key>
		<string>008</string>
		<key>price</key>
		<string>15</string>
		<key>title</key>
		<string>水鱼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>100</string>
		<key>icon</key>
		<string>009</string>
		<key>price</key>
		<string>12</string>
		<key>title</key>
		<string>地三鲜</string>
	</dict>
</array>
</plist>
